{% extends 'master.html'%}
{% load static %}
{% block title %}<title>Home</title>{% endblock %}

{% block content %}

<form method="post" action="{% url 'add' %}">
    {% csrf_token %}
    <select name="name" required  >
            <option value="Restaurants">Restaurants</option>
            <option value="Resorts">Resorts</option>
            <option value="CommercialBuilding">Commercial Building</option>
            <option value="ResidentialBuilding">Residential Building</option>
            <option value="Airports">Airports</option>
            <option value="Bridges">Bridges</option>
            <option value="Roads">Roads</option>
            <option value="Highways">Highways</option>
        <option value="Houses">Houses</option>
            <option value="SubStations">SubStations</option>
            <option value="Factory">Factory</option>
            <option value="University">University</option>
            <option value="PoliceStation">PoliceStation</option>
            <option value="Schools">Schools</option>
            <option value="Powerplant">Powerplant</option>
            <option value="FunctionHall">FunctionHall</option>
        <option value="Malls">Malls</option>
            <option value="Bustand">Bustand</option>
            <option value="Parks">Parks</option>
            <option value="MovieTheatres">MovieTheatres</option>
            <option value="Temples">Temples</option>
            <option value="FunctionHall">FunctionHall</option>

    </select>
    <input type="text" placeholder="enter construction name:" name="cn">
     cement quality
    <select name="cq">
            <option value="High">High</option>
            <option value="Low">Low</option>
            <option value="Medium" >Medium</option>
        <option  selected></option>
    </select>
    brick quality
    <select name="bq">
            <option value="High">High</option>
            <option value="Low">Low</option>
            <option value="Medium" >Medium</option>
        <option selected></option>
    </select>
    sand quality
    <select name="sq">
            <option value="High">High</option>
            <option value="Low">Low</option>
            <option value="Medium" >Medium</option>
        <option selected></option>
    </select>
     Iron quality
    <select name="iq">
            <option value="High">High</option>
            <option value="Low">Low</option>
            <option value="Medium" >Medium</option>
        <option selected></option>
    </select>
        <br>
        Environmental Condition:
         <select name="ec">
            <option value="tightsoil">tightsoil</option>
            <option value="loosesoil">loosesoil</option>
            <option value="humidity" >humidity</option>
             <option value="heavyrain">heavyrain</option>
            <option value="windy">windy</option>
            <option value="Hightemp" >Hightemp</option>
        <option selected></option>
         </select>
    <br>
    seller:
    <select name="s">
            <option value="tightsoil">tightsoil</option>
            <option value="loosesoil">loosesoil</option>
            <option value="humidity" >humidity</option>
             <option value="heavyrain">heavyrain</option>
            <option value="windy">windy</option>
            <option value="Hightemp" >Hightemp</option>
        <option selected></option>
         </select>
    <br>
    <input type="number" name="cp" placeholder="enter the cementprice between 200 and 500" min=200 max=500 step="10"><br>
    <input type="number" name="bp" placeholder="enter the brickprice between 20 and 50" min=20 max="50"step="10"><br>
    <input type="number" name="sp" placeholder="enter the sandprice between 200 and 500" min=200 max="500"step="10"><br>
    <input type="number" name="ip" placeholder="enter the ironprice between 20000 and 50000" min="20000" max="50000"step="1000"><br>
    <input type="number" name="p" placeholder="enter the price between 200 and 500" min=2000000 max="5000000"step="100000"><br>

    <button type="submit">submit</button>

</form>


{% endblock %}